html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

body {
    width: 800px;
    border: 1px solid #014955;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.pageTop {
    background-color: #014955;
    color: #e4d1d3;
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    padding: 20px;
}


#holiday1 {
    border: 2px solid transparent;
    background-color: #dd0a35;
    color: #e4d1d3;
    padding-bottom: 30px;
}

#holiday2 {
    border: 2px solid transparent;
    background-color: #e4d1d3;
    color: #014955;
    padding-bottom: 30px;
}

#holiday3 {
    border: 2px solid transparent;
    background-color: #1687a7;
    color: #e4d1d3;
    padding-bottom: 30px;
}


#buttonshow {
    background-color: #014955;
    color: #e4d1d3;
    border: none;
    padding: 2px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    float: left;
}


#buttonHide {
    background-color: white;
    color: #014955;
    border: none;
    padding: 2px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-left: 0;
}

div {
    border: 2px solid transparent;
    display: block;
    text-align: center;

}

p {
    text-align: justify;
}

img {
    border: 5px solid white;
    border-radius: 5px;

}


footer {
    bottom: 0px;
    text-align: center;
    background-color: #014955;
    color: #e4d1d3;
    padding: 15px;
}